
 

  

 

      <div class="h-divider"></div>



<div class="hex-container">
  <div class="hexagon-placeholder">Loading bots...</div>
  <div class="hexagon-line"></div>

  <div class="overlay">
    <span class="bg">
      <h1 class="heading-style" title="North West Web Design - Southport Web Site Design">
        C12 Web Development &amp; Design Studio
      </h1>
      <h2 class="heading-style" title="Web Designers Southport">
        North West Web Development
      </h2>
    </span>
  </div>
</div>

 <div class="h-divider"></div>


<main>




  <section class="py-5 bg-light">
    <div class="container-xxl">
      <h1>Welcome to my New routed Angular website</h1>
      <p class="lead">This menu is now faster, smoother, and more touch-friendly.</p>
    </div>
  </section>

  <section class="py-5 bg-danger text-white">
    <div class="container-xxl">
      <h2>Red Section</h2>
      <p>Full width background with centered content.</p>
    </div>
  </section>

  <section class="py-5 bg-success text-white">

    <div class="container-xxl">
      <h2>Green Section</h2>
      <p>Another full width background.</p>
    </div>
  </section>


 <section class="py-1 bg-dark">
    <div class="container-xxl"><app-carousel></app-carousel>
      
    </div>
  </section>




</main>



