
 

  

 

      <div class="h-divider"></div>





<main>




  <section class="py-5 bg-light">
    <div class="container-xxl">
      <h1>Welcome to my resources page</h1>
      <p class="lead">Mostly experimental apps and curios</p>
    </div>
  </section>

  <section class="py-5 bg-dark text-white">
    <div class="container-xxl" style="">
      <h2>GPT Prompt builder</h2>

 <img
  src="assets/promt-images/astro.png"
  alt="Astronaut"
  class="img-fluid border border-secondary p-2 rounded-2 fade-in-img"
/> 


      <p>I have had a lot of fun, and some great results using GPT image generation technology, but also a lot of frustration</p>
<p>So I have put together a little promt tool that allows you to quickly outline the styles and various settings for a more concice and powerfull promt.</p>

Check it out here <a [routerLink]="['/prompt-builder']">
      <i class="icon-small bi bi-box-arrow-up-right"></i>
    </a>

    </div>
  </section>

  <section class="py-5 bg-success text-white">

    <div class="container-xxl">
      <h2>Green Section</h2>
      <p>Another full width background.</p>
    </div>
  </section>


 




</main>




