<footer class="text-center py-4 bg-dark text-light">
  <div class="container-xxl">
    <nav class="custom-link-nav d-inline-flex flex-wrap justify-content-center mb-3">
      <a class="custom-link" routerLink="/web-development">Web development</a>
      <a class="custom-link" routerLink="/formby-web-design">Formby web design</a>
      <a class="custom-link" routerLink="/liverpool-web-design">Liverpool web design</a>
      <a class="custom-link" routerLink="/southport-web-design">Southport web design</a>
      <a class="custom-link" routerLink="/shop-webdesign-southport">Southport shop web design</a>
      <a class="custom-link" href="https://hoo.central12.com/fugic/">Science News</a>
      <a class="custom-link" href="https://oikoshop.redbubble.com/">Oikoshop</a>
    </nav>
    <p>&copy;2025 My Website. All rights reserved.</p>
  </div>
</footer>

